@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
  
}


.wood{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1400px;
    height: 625px;
    
}



/* navbar */
.icon{
    color: #3498db;
}

.firstdiv{
    display: flex;
    align-content: center;
    justify-content: space-between;

    padding: 30px 60px;

}

ul{
    list-style: none;
    
    
}
li{
    display: inline-block;
    padding: 0 15px 5px; 
    font-size: 1rem;
    
}
a{
   color: #fff;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.btn-nav {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    border: solid #3498db 2px;
    text-decoration: none;
  }
  
  .btn-nav:hover {
    background: #fff;
    color: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #fff, #fff);
    background-image: -moz-linear-gradient(top, #fff, #fff);
    background-image: -ms-linear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(top, #fff, #fff);
    background-image: linear-gradient(to bottom, #fff, #fff);
    text-decoration: none;
  }

  .buttondiv{
    display: inline-block;
  }

  @media screen and (max-width: 991px) {
    .firstdiv{
      flex-wrap: wrap;
    }

    ul{
      order: 3;
      flex: 100%;
      margin-top: 1rem;
    }



    
    
  }

/* heading */
.container{
     text-align: center;
    color: #fff;
    padding-top: 100px;
}
.firsthead{
    font-size: 4rem;
    color: #fff;
    margin-bottom: 0;

}
.btn-header {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 0px;
    text-decoration: none;
   
  }
  
  .btn-header:hover {
    background: transparent;
    outline: 2px solid #1da1f2;
  
    text-decoration: none;
  }


  @media screen and (max-width:991px ){

    .firsthead{
        font-size: 3rem;
    }
    .container{
      margin-top: 2.5rem;
    }
    
  }



  /* product section */
  .wood-products{
    text-align: center;
    padding-top: 150px;
    height: 620px;
  }

  .product-text{
    padding: 0 260px;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.7;
  }

  .product-icon{
    padding-bottom: 10px;
    color: #3498db;
  }

  .products-div{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .product-col{
    padding-bottom: 20px;
  }

  .product-col h5{
    font-weight: 700;
  }

  @media screen and (max-width:991px) {
    .product-text{
        padding: 0 50px;
    }
    .wood-products{
        padding-top: 50px;
        padding-bottom: 100px;
        
    }
    #products{
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .products-div{
      padding-left: 40px;
      padding-right: 40px;
    }
}

/* features section */
#features{
  background-color: #f9fbfe;
  padding: 70px 130px 20px;
  
}
.features-img-div{
  padding: 140px 10px;
 
 
}

.features-img{
  height: 250px;
  width: 500px;
}
.features-heading{
  color: #3498db;
  font-weight: 700;
}

#features p{
  font-weight: 500;
}

@media screen and (max-width:991px) {
  #features{
    padding: 70px 20px 110px;
    
  }
  .features-img-div{
    padding: 60px 0 40px 10px;
    
   
  }

  .features-img{
    width: 400px;
    height: 200px;
  }

  

  
}


/* transport section */
#transport{
  padding: 100px 130px 100px;
  display: flex;

}
.transport-image-div{
  padding: 30px 50px ;
  order: 2;
}

.transport-image{
  height: 350px;
  width: 520px;
  margin-top: 0;
  border-radius: 5px;
}

.transport-heading{
  color: #3498db;
  font-weight: 700;
}

#transport p{
  font-weight: 500;
}

@media screen and (max-width:991px) {
  .transport-image-div{
    order: 0;
    padding: 60px 10px 40px 10px;
  }

  #transport{
    padding: 70px 300px 110px 50px;
   
    
  }
  

  .transport-image{
    width: 400px;
    height: 260px;
  }
  
}

/* contact form */
.contact-form{
  text-align: center;
  background-color: #eee;
  padding: 100px 300px;

}

#contact h2{
  font-weight: 900;
}

.contact-text{
  font-weight: 400;
}


input, textarea{
  width: 100%;
  border: 3px solid #ccc;
  padding: 12px 20px;
}

input::placeholder, textarea::placeholder{
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
}

form button{
  width: 100%;
}

form button:hover{
  color: #1da1f2;
}

form div{
  padding-bottom: 20px;
}


@media screen and (max-width: 991px ) {
  .contact-form{
    padding: 120px 50px ;
  }
  
}

/* footer */
#footer{
  background-color:  #3f424b ;
  height: 250px;
  color: #fff;
  text-align: center;
  padding: 180px 0;
}

footer li{
  display: block;

}

.social-icons{
  padding-right: 10px;
}


.footer-divs{
  padding-bottom: 20px;
}


@media screen and (max-width: 991px ) {
  #footer {
    height: 500px;
    padding: 100px 0;
    text-align: center;
  }

 
  
}

